$font-body: 'Roboto', sans-serif;
$backgnd-image: '../images/bg.gif';
$logo: '../images/logo.png';
$media-image: '../images/social-media.png';

$backgnd-color: #FFF;
$red: #E65C43;
$grey: #666;
$black: #000;
$light-red: #F25C43;
$white: #F5F6F6; 
$dark-grey: #30353D;